$primary-normal: #000000;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$second-normal: #090d11;
$second-dark: #06090c;
$second-light: #1a1f25;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #4B0082;
$red-dark: #d2b8bd;
$red-light: #ebaebf;